allow-flight=false
allow-nether=true
difficulty={{ mc_difficulty }}
enable-status=true
gamemode={{ mc_gamemode }}
generate_structures=true
hardcore=false
level-name=Burned Out Minecraft
level-type=default
max-players={{ mc_maxplayers }}
motd={{ mc_motd }}
op-permission-level=4
pvp=true
spawn-protection=0
white-list=true
